
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
  --bg-color:#1f242d;
  --second-bg-color:#1f242d;
  --text-color:#f91e1e;
  --main-color:#f91e1e;
}

html {
  font-size:62.5%;
  overflow-x :hidden;
}

body {
  background:#020202;
  color:#eda423;
  
}

section {
  min-height: 100vh;
  padding:10rem 9% 2rem;
}

.header {
  position:fixed;
  width:100%;
  padding: 2rem 9%;
  background:black;
  display:flex;
  justify-content: space-between;
  align-items:center;
  z-index: 100;
}


.logo {
  font-size:2.7rem;
  color:#eda423;
  font-weight:600;
  cursor:default;
}

#menu-icon {
  font-size: 3,6rem;
  color: #f91e1e;
  display: none;
}

.dropbtn {
  background-color:#eda423;
  color:#020202;
  padding: 10px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
  align-items: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 12px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.dropdown-content a:hover {background-color:#eda423;
  font-weight: bold;
  border-radius: 12px;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:#eda423;
}

.ai-content h3 {
  font-size: 3rem ;
  margin: 1rem;
  color:#eda423;
  text-align: center;
}

.ai-content h4 {
  font-size: 1.8rem ;
  margin: 0.5rem;
  color:white;
}

.ai-content li {
  color:WHITE;
  margin: 0.2rem;
  font-size:1.7rem ;
}

.ai-content h5 {
  font-size: 1.4rem ;
  margin: 0.5rem;
  color:white;
}

.logo_design img {
  width:15vw;
  align-items: center;
  justify-content: center;
  display: inline;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
}
.ai img {
  width:50vw;
  align-items: center;
  justify-content: center;
  display: inline;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
}

.code{
  color:#f91e1e;
  font-family:monospace;
}

.code h4 {
  color:white;
  font-family:monospace;
  font-size: 2.3rem;
}

.code img {
  width: 100%;
  margin: 2rem;
}

.code ul {
  color: white;
  font-size: 1rem;
  margin: 0.7rem;
}



/*heading of experiment*/

#experiments h4 {
  font-size: 1.8rem;      
  color: white; 
  margin: 2rem;
}

/*file name*/

#experiments h5 {
  font-size: 1rem ;
  color: white;
  text-align: left;
}

/*images*/

#experiments img {
  width: 100%;
}

.box {
  width: 20%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.btn{
  background:#eda423;
  color:#020202;
  border-radius: 6px;
  font-size: xx-small;
  padding: 0.4rem;
  font-weight: bold;
}
.button {
  font-size: 1em;
  padding: 6px;
  color: #fff;
  border: 2px solid orange;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: orange;
}
